@using BeyondTheTutor.Models.ViewModels
@model List<AllUsersViewModel>

@{
    ViewBag.Placeholder = "Search: \"V87654321\", \"Maksim Stoyanov\", \"Tutor\", \"SomeEmail@wou.edu\"";
}

<body class="wou-silver-bg">
    <div class="ui one column stackable page grid">
        <br />

        @if (ViewBag.message != null)
        {
            <div class="ui sixteen wide column" style="text-align: center;">
                <div class="ui red message" style="text-align: center;">
                    <i class="user times icon" id="message"></i>
                    <B>@ViewBag.message</B>
                </div>
            </div>
        }

        @if (ViewBag.created != null)
        {
            <div class="ui sixteen wide column" style="text-align: center;">
                <div class="ui green message" style="text-align: center;">
                    <i class="user outline icon" id="created"></i>
                    <B>@ViewBag.created</B>
                </div>
            </div>
        }

        <br />

        <table class="ui striped compact table table-schedule">
            <thead>
                <tr>
                    <th colspan="6">
                        @using (Html.BeginForm("Index", "AllUsers", FormMethod.Get))
                        {
                            <div class="ui fluid action input">
                                @if (ViewBag.searched != null)
                                {
                                    <input type="text" style="color: #db0a29" value="@ViewBag.searched" name="search" id="search" placeholder="@ViewBag.Placeholder">
                                }
                                else
                                {
                                    <input type="text" style="color: #db0a29" name="search" id="search" placeholder="@ViewBag.Placeholder">
                                }
                                <button class="ui button" style="background-color: #db0a29; color: white;">Search</button>
                            </div>
                        }
                    </th>
                </tr>
                <tr>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>VNumber</th>
                    <th>Role</th>
                    <th colspan="2">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.VNumber
                        </td>
                        <td>
                            @item.Role
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <button class="ui basic button">
                                <i class="icon trash"></i>
                                @Html.ActionLink("Delete User", "Delete", new { id = item.ID })
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


<script src="~/Scripts/main.js"></script>






