@using BeyondTheTutor.Models.ViewModels
@model List<AllUsersViewModel>

@{
ViewBag.Placeholder = "Search: \"V87654321\", \"Maksim Stoyanov\", \"Tutor\", \"SomeEmail@wou.edu\"";
}

<body class="wou-silver-bg">
    <div class="ui one column stackable page grid">
        <br />
<<<<<<< HEAD

        @if (ViewBag.message != null)
        {
            <div class="ui sixteen wide column" style="text-align: center;">
                <div class="ui red message" style="text-align: center;">
                    <i class="user times icon" id="message"></i>
                    <B>@ViewBag.message</B>
                </div>
            </div>
        }

=======
        <div class="ui message column twenty wide" style="text-align: center;">
            <i class="info icon" id="message"></i>Current users in the database. <br />
            <i>@ViewBag.Placeholder</i>
        </div>


        @if (ViewBag.message != null)
        {
            <div class="ui sixteen wide column" style="text-align: center;">
                <div class="ui red message" style="text-align: center;">
                    <i class="user times icon" id="message"></i>

                    <B>@ViewBag.message</B>
                </div>
            </div>
        }

>>>>>>> ba796aecddba1ac6e650bd35d7367a2758c51c94
        @if (ViewBag.created != null)
        {
            <div class="ui sixteen wide column" style="text-align: center;">
                <div class="ui green message" style="text-align: center;">
                    <i class="user outline icon" id="created"></i>
                    <B>@ViewBag.created</B>
                </div>
            </div>
        }

        <br />

<<<<<<< HEAD
        <table class="ui striped compact table table-schedule">
            <thead>
                <tr>
                    <th colspan="6">
                        @using (Html.BeginForm("Index", "AllUsers", FormMethod.Get))
                        {
                            <div class="ui fluid action input">
                                @if (ViewBag.searched != null)
                                {
                                    <input type="text" style="color: #db0a29" value="@ViewBag.searched" name="search" id="search" placeholder="@ViewBag.Placeholder">
                                }
                                else
                                {
                                    <input type="text" style="color: #db0a29" name="search" id="search" placeholder="@ViewBag.Placeholder">
                                }
                                <button class="ui button" style="background-color: #db0a29; color: white;">Search</button>
                            </div>
                        }
                    </th>
                </tr>
                <tr>
=======

        <br />
        <div class="form-horizontal" style="float: right;">
            @using (Html.BeginForm("Index", "AllUsers", FormMethod.Get))
            {
                <div class="form-group form-horizontal">
                    @Html.TextBox("search", null, new { @class = "form-control", type = "text", style = "float: right;" })
                    <Button type="submit" class="button" style="float: right;">Search</Button>
                </div>
            }
        </div>
        <table class="ui striped table ui selectable celled table table-schedule">
            <thead>
                <tr>
>>>>>>> ba796aecddba1ac6e650bd35d7367a2758c51c94
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>VNumber</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
<<<<<<< HEAD
                            @item.LastName
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.VNumber
                        </td>
                        <td>
                            @item.Role
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
=======
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <button class="ui basic button">
                                <i class="icon trash"></i>
                                @Html.ActionLink("Delete User", "Delete", new { id = item.ID })
                            </button>
>>>>>>> ba796aecddba1ac6e650bd35d7367a2758c51c94
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

<<<<<<< HEAD

<script src="~/Scripts/main.js"></script>


=======
@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
>>>>>>> ba796aecddba1ac6e650bd35d7367a2758c51c94
