@model BeyondTheTutor.Models.TutorSchedule

<body class="wou-silver-bg">
    <div class="ui one column stackable page grid schedule">
        <div class="ui form attached fluid segment">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("TutorID", (object)ViewBag.CurrentTutorID)
                <div class="ui attached message schedule">
                    <div class="header">
                        Welcome to tutor scheduling!
                    </div>
                    <p>Fill out the form below to add a new schedule</p>
                </div>
                <form>
                    <div class="four fields">
                        <div class="field">
                            <h4>Date</h4>
                            @Html.Editor("Date", null, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        </div>
                        <div class="field">
                            <h4>Start Time</h4>
                            <div class="field">
                                @Html.DropDownListFor(m => m.StartTime, new SelectListItem[] {
                                    new SelectListItem() {Text = "8:00 AM", Value="8:00 AM"},
                                    new SelectListItem() {Text = "8:30 AM", Value="8:30 AM"},
                                    new SelectListItem() {Text = "9:00 AM", Value="9:00 AM"},
                                    new SelectListItem() {Text = "9:30 AM", Value="9:30 AM"},
                                    new SelectListItem() {Text = "10:00 AM", Value="10:00 AM"},
                                    new SelectListItem() {Text = "10:30 AM", Value="10:30 AM"},
                                    new SelectListItem() {Text = "11:00 AM", Value="11:00 AM"},
                                    new SelectListItem() {Text = "11:30 AM", Value="11:30 AM"},
                                    new SelectListItem() {Text = "12:00 PM", Value="12:00 PM"},
                                    new SelectListItem() {Text = "12:30 PM", Value="12:30 PM"},
                                    new SelectListItem() {Text = "1:00 PM", Value="1:00 PM"},
                                    new SelectListItem() {Text = "1:30 PM", Value="1:30 PM"},
                                    new SelectListItem() {Text = "2:00 PM", Value="2:00 PM"},
                                    new SelectListItem() {Text = "2:30 PM", Value="2:30 PM"},
                                    new SelectListItem() {Text = "3:00 PM", Value="3:00 PM"},
                                    new SelectListItem() {Text = "3:30 PM", Value="3:30 PM"},
                                    new SelectListItem() {Text = "4:00 PM", Value="4:00 PM"},
                                    new SelectListItem() {Text = "4:30 PM", Value="4:30 PM"}
                                 }, "Select", htmlAttributes: new { @class = "ui selection dropdown form-control" })
                                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="field">
                            <h4>End Time</h4>
                            <div class="field">
                                @Html.DropDownListFor(m => m.EndTime, new SelectListItem[]{
                                    new SelectListItem() {Text = "8:30 AM", Value="8:30 AM"},
                                    new SelectListItem() {Text = "9:00 AM", Value="9:00 AM"},
                                    new SelectListItem() {Text = "9:30 AM", Value="9:30 AM"},
                                    new SelectListItem() {Text = "10:00 AM", Value="10:00 AM"},
                                    new SelectListItem() {Text = "10:30 AM", Value="10:30 AM"},
                                    new SelectListItem() {Text = "11:00 AM", Value="11:00 AM"},
                                    new SelectListItem() {Text = "11:30 AM", Value="11:30 AM"},
                                    new SelectListItem() {Text = "12:00 PM", Value="12:00 PM"},
                                    new SelectListItem() {Text = "12:30 PM", Value="12:30 PM"},
                                    new SelectListItem() {Text = "1:00 PM", Value="1:00 PM"},
                                    new SelectListItem() {Text = "1:30 PM", Value="1:30 PM"},
                                    new SelectListItem() {Text = "2:00 PM", Value="2:00 PM"},
                                    new SelectListItem() {Text = "2:30 PM", Value="2:30 PM"},
                                    new SelectListItem() {Text = "3:00 PM", Value="3:00 PM"},
                                    new SelectListItem() {Text = "3:30 PM", Value="3:30 PM"},
                                    new SelectListItem() {Text = "4:00 PM", Value="4:00 PM"},
                                    new SelectListItem() {Text = "4:30 PM", Value="4:30 PM"},
                                    new SelectListItem() {Text = "5:00 PM", Value="5:00 PM"}
                                 }, "Select", htmlAttributes: new { @class = "ui selection dropdown form-control" })
                                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="field">
                            <h4>Tutor Name &amp; Job</h4>
                            @Html.TextBoxFor(model => model.Description, new { placeholder = "Your Name - Event", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button class="fluid ui button schedule">Submit New Schedule</button>
                </form>
            }
        </div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
