@{
    ViewBag.Title = "Home Page";
}
    <body class="wou-grey-bg">
        <div class="ui container">
            @if (TempData["Message"] != null)
            {
                <div class="ui icon message">
                    <i class="inbox icon"></i>
                    <div class="content">
                        <div class="header">
                            You have successfully created an account!
                        </div>
                        <p>@TempData["Message"]</p>
                        <i>Make sure to check your <b>SPAM</b> folder for our email.</i>
                        <p>Thank you!</p>
                    </div>
                </div>
            }

            <div class="ui two column centered grid">
                <img src="../Content/images/BeyondtheTutor_Banner4.png" alt="Alternate Text" />
            </div>


            <div class="ui one column centered padded grid">
                <div class="column">
                    <div class="ui piled segment">
                        <div class="ui horizontal divider">
                            <h2 class="ui centered header">Computer Science Division Tutoring Center</h2>
                        </div>
                        <div class="ui red centered segment">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui one column padded center aligned grid" id="tutors_container">
                <div class="column">
                    <div class="ui huge header"><i class="graduation cape icon"></i> Meet Your Tutors </div>
                </div>
                <div id="display_tutors"></div>
            </div>

            <div class="ui segments background-color-white">
                <div class="ui horizontal segments">
                    <div class="ui red segment">
                        <h3 class="ui center aligned header"><i class="thumbs up icon"></i>What classes can we help with?</h3>
                        <hr />
                        <p><i>CS 122, 133, 160, 161, 162, 260, 271, 340, 360, 361, 363, 364, 365, 434, 465</i></p>
                        <p><i>IS 240, 278, 340, 345, 350, 355, 485</i></p>
                    </div>
                    <div class="ui red segment">
                        <h3 class="ui center aligned header"><i class="map pin icon"></i>Where are we located?</h3>
                        <hr />
                        <p>We’ve moved to the Old Education Building, across from the WUC.</p>
                        <p>The tutoring room is located on the 2nd floor, south corner, room <b>OED 230</b>.</p>
                        <p>We are open during weeks 2 – 10 each term.</p>
                    </div>
                </div>
                <div class="ui secondary center aligned segment">
                    <p>Want more information? Visit our <a href="/Home/FAQ" target="_blank">FAQ</a>.</p>
                </div>
            </div>
        </div>

        <div class="ui container footer">
            <hr />
            <div class="ui vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable divided equal height stackable grid">
                        @if (Request.IsAuthenticated)
                        {

                        }
                        else
                        {
                            <div class="three wide column">
                                <h4 class="ui header">Resources</h4>
                                <div class="ui link list">
                                    @Html.ActionLink("FAQ", "FAQ", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomeFAQ" ? "item red active" : "item") })
                                    @Html.ActionLink("Privacy Policy", "Privacy", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomePrivacy" ? "item red active" : "item") })
                                    <a class=@(ViewBag.Current == "HomePrivacy" ? "item red active" : "item") href="#">Contact Us</a>
                                </div>
                            </div>
                            <div class="three wide column">
                                <h4 class="ui header">Account Services</h4>
                                <div class="ui link list">
                                    @Html.ActionLink("Login", "Login", "Account", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "AccountLogin" ? "item red active" : "item") })
                                    @Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "AccountRegister" ? "item red active" : "item") })
                                </div>
                            </div>
                        }
                        <div class="seven wide column">
                            <h4 class="ui header">Beyond the Tutor</h4>
                            <p>If you have any questions about the services offered by Beyond the Tutor, you can reach us <a href="#">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


@section scripts
{
    <script src="~/Scripts/schedulecalendar.js"></script>
    <script src="~/Scripts/displaytutors.js"></script>
    <script src="~/Scripts/main.js"></script>
}