@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Home Page";
}
<body class="wou-grey-bg">
    <div class="ui container">
        @if (TempData["Message"] != null)
        {
            <div class="ui icon message">
                <i class="inbox icon"></i>
                <div class="content">
                    <div class="header">
                        You have successfully created an account!
                    </div>
                    <p>@TempData["Message"]</p>
                    <i>Make sure to check your <b>SPAM</b> folder for our email.</i>
                    <p>Thank you!</p>
                </div>
            </div>
        }

        @if (ViewBag.msg != null)
        {
            <div class="ui green message" style="text-align: center;">
                <B>@ViewBag.msg</B>
            </div>
        }

        <div id="display_service_alerts">

        </div>

        <div class="ui one column centered padded grid" style="width: 100%;">
            <div class="centered column">
                <div class="ui attached centered segment">
                    <img class="ui huge centered image" style="width: 100%; height: 100%;" src="../Content/images/Home_Page_Banner.png" alt="Welcome_image" usemap="#welcome_image" />
                    <map name="welcome_image">
                        <area shape="rect" coords="170,382,315,415" alt="Register" href="/Account/Register">
                    </map>
                </div>
                <div class="ui three bottom attached steps">
                    <div class="step">
                        <i class="edit outline icon"></i>
                        <div class="content">
                            <div class="title">Student Resources</div>
                            <div class="description">Valuable Information</div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="laptop icon"></i>
                        <div class="content">
                            <div class="title">Tutoring</div>
                            <div class="description">In Person and Online</div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="chart line icon"></i>
                        <div class="content">
                            <div class="title">Department Insights</div>
                            <div class="description">Build better classes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui one column centered padded grid">
            <div class="column">
                <div class="ui piled segment">
                    <div class="ui red centered segment">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui one column padded center aligned grid" id="tutors_container">
            <div class="column">
                <div class="ui huge header"><i class="graduation cape icon"></i> Meet Your Tutors </div>
            </div>
            <div id="display_tutors"></div>
        </div>

        <div class="ui segments background-color-white">
            <div class="ui horizontal segments">
                <div class="ui red very padded segment">
                    <h3 class="ui center aligned header"><i class="thumbs up icon"></i>What classes can we help with?</h3>
                    <hr />
                    <div style="display: inline">
                        @for (int i = 1; i < 6; i++)
                        {
                            <div style="display: inline-block; vertical-align:top; width: 3.5em">
                                @foreach (var className in ViewBag.csList)
                                {
                                    var course = Int32.Parse(Regex.Match(className.Name, @"\d+").Value);
                                    if (course / 100 == i)
                                    {
                                        <i>@className.Name</i><br />
                                    }
                                }
                            </div>
                        }
                    </div>

                    <div style="display: inline">
                        @for (int i = 1; i < 6; i++)
                        {
                            <div style="display: inline-block; vertical-align:top; width: 3.5em">
                                @foreach (var className in ViewBag.isList)
                                {
                                    var course = Int32.Parse(Regex.Match(className.Name, @"\d+").Value);
                                    if (course / 100 == i)
                                    {
                                        <br /><i>@className.Name</i>
                                    }
                                }
                            </div>
                        }
                    </div>

                </div>

                <div class="ui red padded segment">
                    <img class=" ui center align big image" style="margin-left: auto; margin-right: auto; padding-top: 50px;" src="../Content/images/Logo_Stacked.jpg" alt="FooterImg" />
                </div>

                <div class="ui red very padded segment">
                    <h3 class="ui center aligned header"><i class="map pin icon"></i>Where are we located?</h3>
                    <hr />
                    <p>The tutoring room is located on the 2nd floor, south corner, room <b>OED 230</b>.</p>
                    <p>We are open starting April 1st, 2020.</p>
                </div>

            </div>
            <div class="ui secondary center aligned segment">
                <p>Want more information? Visit our <a href="/Home/FAQ" target="_blank">FAQ</a>.</p>
            </div>
        </div>

    </div>

    <div class="ui container footer">
        <hr />
        <div class="ui vertical footer segment">
            <div class="ui container">
                <div class="ui stackable divided equal height stackable grid">
                    @if (Request.IsAuthenticated)
                    {

                    }
                    else
                    {
                        <div class="three wide column">
                            <h4 class="ui header">Resources</h4>
                            <div class="ui link list">
                                @Html.ActionLink("FAQ", "FAQ", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomeFAQ" ? "item red active" : "item") })
                                @Html.ActionLink("Privacy Policy", "Privacy", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomePrivacy" ? "item red active" : "item") })
                                <a class=@(ViewBag.Current == "HomePrivacy" ? "item red active" : "item") href="#">Contact Us</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui header">Account Services</h4>
                            <div class="ui link list">
                                @Html.ActionLink("Login", "Login", "Account", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "AccountLogin" ? "item red active" : "item") })
                                @Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "AccountRegister" ? "item red active" : "item") })
                            </div>
                        </div>
                    }
                    <div class="seven wide column">
                        <h4 class="ui header">Beyond the Tutor</h4>
                        <p>If you have any questions about the services offered by Beyond the Tutor, you can reach us <a href="#">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



@section scripts
{
    <script src="~/Scripts/service-alert.js"></script>
    <script src="~/Scripts/schedulecalendar.js"></script>
    <script src="~/Scripts/displaytutors.js"></script>
    @if (User.IsInRole("Tutor"))
    {
        <script src="~/Scripts/displayrequestedappts.js"></script>
    }
    <script src="~/Scripts/main.js"></script>
}