@model BeyondTheTutor.Models.TutoringAppt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TutoringAppt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.ClassStanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.ClassStanding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.VNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.VNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfMeeting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfMeeting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
