@model IEnumerable<BeyondTheTutor.Models.TutoringAppt>

<body class="wou-silver-bg">
    <div class="ui one column stackable page grid" style="padding-top:10px;">
        <table class="ui striped table stu-app">
            <thead>
                <tr>
                    <th><h4>Class Requested For</h4></th>
                    <th><h4>Start Date &amp; Time</h4></th>
                    <th><h4>End Date &amp; Time</h4></th>
                    <th><h4>Session Length</h4></th>
                    <th><h4>Current Status</h4></th>
                    <th><h4>Notes</h4></th>
                    <th><h4>Action</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Class.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Length)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Note)</td>
                    <td>

                            @if (item.Status == "Canceled" || item.Status == "Completed")
                            {
                                <button class="ui disabled button">
                                    <i class="icon trash"></i>
                                    Cancel Session
                                </button>
                            }
                            else
                            {
                                <button class="ui basic button">
                                    <i class="icon trash"></i>
                                    @Html.ActionLink("Cancel Session", "Edit", new { id = item.ID })
                                </button>
                            }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
