@model SwimMeetTracker.Models.ViewModels.AthleteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Athlete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        @for (int i = 0; i < Model.Team.Count(); i++)
        {
            <dd>
                @Html.DisplayFor(model => model.Team[i])
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.CoachName)
        </dt>

        @for (int i = 0; i < Model.CoachName.Count(); i++)
        {
            <dd>
                @Html.DisplayFor(model => model.CoachName[i])
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
