@model IEnumerable<SwimMeetTracker.Models.Athlete>
@{
    ViewBag.Title = "Search";
}

<div class="container">
    <div class="row mt-4 mb-3">
        <div class="col-lg-12">
            <div class="container d-flex justify-content-center align-items-center">
                <form action="/Athletes/Search" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Enter Athlete:</div>
                            </div>
                            <input type="text" name="SearchAthlete" class="form-control form-control-lg" placeholder="@ViewBag.athlete" style="width:600px" required />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" style="width:125px">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @if (ViewBag.Failed == false)
            {
                <p>Displaying all search results for "@ViewBag.athlete" - </p>
                <table class="table table-hover" style="border:none" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align:center">First Name</th>
                            <th style="text-align:center">Last Name</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {

                        <tr onclick="location.href = '@(Url.Action("Details", "Athletes", new { id = item.AID }))'" class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                        </tr>
                    }
                </table>
            }
            else if (ViewBag.Failed == true)
            {
                <p>No search result for item "@ViewBag.athlete"</p>
            }
        </div>
    </div>
</div>

