@model IEnumerable<BeyondTheTutor.Models.TimeSheetModels.WorkHour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClockedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClockedOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClockedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClockedOut)
        </td>
        <td>
            <div class="ui fluid buttons">
                <button class="ui animated fluid button" tabindex="0">
                    <div class="visible content">
                        @Html.DisplayFor(modelItem => item.ClockedIn)-@Html.DisplayFor(modelItem => item.ClockedOut)
                    </div>
                    <div class="hidden content">
                        Edit Shift
                    </div>
                </button>
                <button class="ui times icon negative button">X</button>
            </div>
            @{/*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })*/
            }
        </td>
    </tr>
}

</table>
