<body class="wou-silver-bg">
    <div class="ui grid FAQ">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui styled fluid accordion FAQ">
                <div class="ui horizontal divider">
                    <h1 class="ui centered header">Professor Guide</h1>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Welcome Message
                </div>
                <div class="content">
                    <p>
                        Beyond the Tutor welcomes you to the professor portal. We provide several resources to create a
                        pleasant experience during your time as a Computer Science Department professor. Browse our guide
                        to learn about features available to you.
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Adding and Managing Student Resources
                </div>
                <div class="content">
                    <p>
                        You may share helpful resources with students. In the resource form, add a topic label, URL for the resource, and how you want
                        the link displayed. Resources are first organized by topic so make topics concise. How you want the link displayed
                        is a more descriptive way to label the resources.
                    </p>
                    <p>
                        Recommendations on how to add resources:
                        <br />Topic examples include HTML, CSS, JavaScript.
                        <br />Link display examples include HTML YouTube tutorial, CSS website, JavaScript functions.
                    </p>
                    <p>
                        @Html.ActionLink("Add New Link", "Create", "StudentResources", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "StuResCreate" ? "item red active" : "item") })
                    </p>
                    <p>
                        You may edit or delete resources owned by you at any time.
                    </p>
                    <p>
                        @Html.ActionLink("Manage Links", "ManageResources", "StudentResources", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "StuResManage" ? "item red active" : "item") })
                    </p>
                    <p>
                        Additionally, you are permitted to search all resources.
                    </p>
                    <p>
                        @Html.ActionLink("Search Resources", "Index", "StudentResources", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "StuResIndex" ? "item red active" : "item") })
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Analyzing Tutoring Requests
                </div>
                <div class="content">
                    <p>
                        You may view general information about tutoring requests such as class tutored, date tutored, session length,
                        method of delivery, student class standing, student graduation year, participating tutor, and status of the request (e.g. requested, completed, etc.)
                        We provide this information so that you may analyze student need. Student information is anonymous as all data is thrown into a collective pool.
                    </p>
                    <p>
                        Examples of how to analyze the information we provide:<br />
                        <b>Scenario:</b> Tutoring requests were high the first week of October for CS 260.<br />
                        <b>Questions to Ask:</b> What material was covered at that time? Would revisiting the material help students? Are there ways to better deliver the material?<br />

                        <b>Scenario:</b> Your classroom is quiet and students aren't asking many questions.<br />
                        <b>Questions to Ask:</b> Does this mean that all students perfectly understand the material? Are there tutoring requests that point to unspoken student need?<br />
                    </p>
                    <p>
                        We aim to make your job as a professor more intuitive and informed. 
                    </p>
                    <p>
                        @Html.ActionLink("Analyze Tutoring Requests", "Index", "TutoringAppts", new { area = "professor" }, htmlAttributes: new { @class = (ViewBag.Current == "ProfApptsIndex" ? "item red active" : "item") })
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Creating Surveys and Analyzing Survey Responses
                </div>
                <div class="content">
                    <p>
                        You may create surveys to better understand student need. You will name your survey, describe it, and assign it to a course. These surveys are available to students that have 
                        requested tutoring for that course. 
                        Once the survey is created, add questions that may be answered with a 1-5 star rating system. We do not allow custom student input to protect possible abuse in the system. 
                    </p>
                    <p>
                        Once any response is recorded, you may view the survey again to see those responses. You will see the average answer recorded and how many students took the survey.
                        Student information is anonymous as all data is thrown into a collective pool. 
                    </p>
                    <p>
                        You may add additional questions to the survey. Students who previously took the survey will only be prompted to answer the new questions. You may also delete questions and
                        the entire survey at any time of your choosing. 
                    </p>
                    <p>
                        @Html.ActionLink("Surveys", "Index", "Surveys", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "ProfSurveyIndex" ? "item red active" : "item") })
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Managing Your Profile
                </div>
                <div class="content">
                    <p>
                        You may change your current password.
                    </p>
                    <p>
                        @Html.ActionLink("Change Password", "ChangePassword", "Manage", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "ChangePassword" ? "item red active" : "item") })
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    How do I contact the development team?
                </div>
                <div class="content">
                    <p>
                        Questions or comments? Contact us at <a href="mailto: beyondthetutor@gmail.com" id="portal-headers">beyondthetutor&commat;gmail.com</a>
                    </p>
                    <p>
                        <img class="ui medium fluid image" src="@Url.Content("~/Content/images/KhronosLogo.png")" />
                    </p>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
