@{
    string dayOfTheMonth = (DateTime.Now.Day).ToString();
}

<body class="wou-blue-bg">
    <div class="ui container portal">
        <h2 class="ui top attached center aligned icon header black" style="color:#231f20;">
            <i class="user circle outline icon" style="color:#231f20;"></i>
            Hello @ViewBag.User!
        </h2>
        <div class="ui internally divided padded grid grey">
            @* ----------First row start---------- *@
            <div class="row">
                <div class="three wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <div class="content">
                                <div class="ui centered dividing header"><p id="portal-headers-black">Application Statistics</p></div>
                                <div class="ui bottom aligned divided list">
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.studentCount</div>
                                        </div>
                                        <div class="content">
                                            Student Sign-Ups
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.inPersonSessions</div>
                                        </div>
                                        <div class="content">
                                            In-Person Sessions
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.onlineSessions</div>
                                        </div>
                                        <div class="content">
                                            Online Sessions
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.sessionCount</div>
                                        </div>
                                        <div class="content">
                                            Sessions Completed
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.myResources</div>
                                        </div>
                                        <div class="content">
                                            My Resources
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.professorCount</div>
                                        </div>
                                        <div class="content">
                                            Professor Resources
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.tutorCount</div>
                                        </div>
                                        <div class="content">
                                            Tutor Resources
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="right floated content">
                                            <div class="ui button">@ViewBag.allResources</div>
                                        </div>
                                        <div class="content">
                                            Total Resources
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <img class="ui fluid image" src="@Url.Content("~/Content/images/landscapes_images/" + dayOfTheMonth + ".jpg")" />
                </div>
                <div class="three wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <div class="content">
                                <div class="ui centered dividing header"><p id="portal-headers-black">Need Some Help?</p></div>
                                <div class="description">
                                    <a href="/Professor/Home/Guide" button class="fluid ui grey button">User Guide</a>
                                </div>
                                <div class="ui horizontal divider">
                                    Or
                                </div>
                                <div class="ui centered dividing header"><p id="portal-headers-black">Questions or Comments?</p></div>
                                <div class="description">
                                    <a href="mailto: beyondthetutor@gmail.com" button class="fluid ui grey button">Email Our Team</a>
                                </div>
                                <div class="ui horizontal divider">
                                    Or
                                </div>
                                <div class="ui centered dividing header"><p id="portal-headers-black">Add Resources</p></div>
                                <div class="description">
                                    <a href="/StudentResources/Create" button class="fluid ui grey button">Share Now</a>
                                </div>
                                <div class="ui horizontal divider">
                                    Or
                                </div>
                                <div class="ui centered dividing header"><p id="portal-headers-black">Manage Resources</p></div>
                                <div class="description">
                                    <a href="/StudentResources/ManageResources" button class="fluid ui grey button">View Owned</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* ----------Second row start---------- *@
            <div class="row">
                <div class="three wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <img class="ui fluid image" src="@Url.Content("~/Content/images/WOU_arch.jpg")" />
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <a class="weatherwidget-io" href="https://forecast7.com/en/44d85n123d23/monmouth/?unit=us" data-label_1="Western Oregon University" data-label_2="WEATHER" data-font="Roboto Slab" data-icons="Climacons Animated" data-theme="clear">Western Oregon University WEATHER</a>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <img class="ui fluid image" src="@Url.Content("~/Content/images/WOU_arch.jpg")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <span style="color: #808080; font-size: 12px;"><b>&copy; 2020  Beyond The Tutor, Khronos |</b> <a href="/Home/Privacy">Privacy Notice</a></span>
        </center>
    </div>

</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
