@{
    string dayOfTheMonth = (DateTime.Now.Day).ToString();
}

<body class="wou-blue-bg">
<div class="ui container portal">
    <h2 class="ui top attached center aligned icon header black" style="color:#231f20;">
        <i class="user circle outline icon" style="color:#231f20;"></i>
        Hello @ViewBag.User!
    </h2>
    <div class="ui internally divided padded grid grey">
        @* ----------First row start---------- *@
        <div class="row">
            <div class="three wide column">
                <div class="ui floating message portal">
                    <div class="ui card portal">
                        <div class="content">
                            <div class="ui centered block header"><p id="portal-headers-black">Application Statistics</p></div>
                            <div class="description">
                                <div class="ui horizontal statistics">
                                    <div class="statistic">
                                        <div class="value">
                                            @ViewBag.studentCount
                                        </div>
                                        <div class="label">
                                            Student Sign Ups
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="value">
                                            @ViewBag.sessionCount
                                        </div>
                                        <div class="label">
                                            Tutoring Sessions Completed
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="value">
                                            @ViewBag.totalResources
                                        </div>
                                        <div class="label">
                                            Resources Shared by Me
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="value">
                                            @ViewBag.resourceCount
                                        </div>
                                        <div class="label">
                                            Resources Shared by All
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>                       
            </div>
            <div class="ten wide column">
                <img class="ui fluid image" src="@Url.Content("~/Content/images/landscapes_images/" + dayOfTheMonth + ".jpg")" />
            </div>
            <div class="three wide column">
                <div class="ui icon message">
                    <i class="notched circle loading icon"></i>
                    <div class="content">
                        <div class="header">
                            Just one second
                        </div>
                        <p>We're fetching that content for you.</p>
                    </div>
                </div>
            </div>
        </div>
                @* ----------Second row start---------- *@
                <div class="row">
                    <div class="three wide column">
                        <div class="ui floating message portal">
                            <div class="ui card portal">
                                <div class="content">
                                    <div class="ui centered block header"><p id="portal-headers-black">Users Features Guide</p></div>
                                    <div class="description">
                                        Lost? Our <a id="portal-headers" href="/Professor/Home/Guide">guide</a> can help.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <a class="weatherwidget-io" href="https://forecast7.com/en/44d85n123d23/monmouth/?unit=us" data-label_1="Western Oregon University" data-label_2="WEATHER" data-font="Roboto Slab" data-icons="Climacons Animated" data-theme="retro-sky">Western Oregon University WEATHER</a>
                    </div>
                    <div class="three wide column">
                        <div class="ui floating message">
                            <div class="ui card portal">
                                <div class="content">
                                    <div class="ui centered block header"><p id="portal-headers-black">Questions or Concerns?</p></div>
                                    <div class="fluid description">
                                        <a href="mailto: beyondthetutor@gmail.com" id="portal-headers">beyondthetutor&commat;gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
