@model TutorTimeSheetCustomModel

@using BeyondTheTutor.Models.TimeSheetModels
@{
    Dictionary<int, string> d_days = new Dictionary<int, string>();
}


<body class="wou-silver-bg">
    <div class="ui one column center aligned stackable page grid">
        <br />
        @if (ViewBag.Error != null)
        {
            <div class="ui sixteen wide column" style="text-align: center;">
                <div class="ui red message" style="text-align: center;">
                    <B>@ViewBag.Error</B>
                </div>
            </div>
        }

        <table class="ui striped compact table table-schedule" style="text-align: center;">
            <thead>
                <tr>
                    <th colspan="4">
                        @using (Html.BeginForm("Index", "TimeSheets", FormMethod.Get))
                        {
                            <div class="ui fluid action input">
                                @if (ViewBag.searched != null)
                                {
                                    <input type="text" style="color: #db0a29" value="@ViewBag.searched" name="search" id="search" placeholder="@ViewBag.Placeholder">
                                }
                                else
                                {
                                    <input type="text" style="color: #db0a29" name="search" id="search" placeholder="@ViewBag.Placeholder">
                                }
                                <button class="ui button" style="background-color: #003b98; color: white;">Search</button>
                            </div>
                        }
                    </th>
                </tr>
                <tr style="text-align: center;">
                    <th colspan="2"></th>
                    <th colspan="2">
                        @using (Html.BeginForm("CreateTimeSheet", "TimeSheetCRUD", FormMethod.Post, new { @class = "ui form form-horizontal", style = "text-align: center;" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.TimeSheetVM.ID)
                            @Html.HiddenFor(model => model.TimeSheetVM.TutorID)
                            @Html.HiddenFor(model => model.TimeSheetVM.Tutor)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="two fields">
                                <div class="field form-group">
                                    @Html.LabelFor(model => model.TimeSheetVM.Month, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.DropDownList("MonthsID", null, htmlAttributes:
                                   new { id = "TimeSheetVM_Month", Name = "TimeSheetVM.Month", @class = "ui selection dropdown form-control" })
                                </div>
                                <div class="field form-group">
                                    @Html.LabelFor(model => model.TimeSheetVM.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <select class="ui selection dropdown item form-control" id="TimeSheetVM_Year" name="TimeSheetVM.Year">
                                        @{int year = DateTime.Today.Year.ToString().AsInt();}
                                        <option type="number" value="@year">@year</option>
                                        <option type="number" value="@(year+1)">@(year + 1)</option>
                                    </select>
                                </div>
                                <div class="field form-group">
                                    <br />
                                    <input type="submit" value="Create Timesheet" class="ui button negative" />
                                </div>
                            </div>
                        }
                    </th>
                </tr>
                <tr>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Days</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ts in Model.TimeSheets)
                {
                    <tr>
                        @if (ts.Month < 1)
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@Model.months[ts.Month]</td>
                        }
                        <td>@ts.Year</td>
                        <td>
                            <div onchange="location = this.value;" class="ui selection dropdown">
                                <input type="hidden" name="dropdown">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select a day</div>
                                <div class="menu">
                                    @{ var days = ts.Days.Where(d => d.TimeSheetID == ts.ID);

                                        foreach (var day in days)
                                        {
                                            <div class="item" value="/WorkHours/Index/@day.ID">@Model.days[day.On]</div>
                                        }
                                    }
                                </div>
                            </div>
                        </td>
                        <td>
                            @{var mstring = ("add" + @ts.ID); }
                            <button onclick="$('#@mstring') .modal('setting', 'transition', 'swing left')
                                                            .modal({ inverted: true })
                                                            .modal('show');"
                                    class="ui button negative">
                                Add Day
                            </button>
                            <div class="ui modal" id="@mstring">
                                <i class="close icon"></i>
                                <h2 class="ui centered header registration">Add a day to your timesheet</h2>
                                <div class="content">
                                    <div class="ui form attached fluid segment ui equal width form">

                                        @using (Html.BeginForm("CreateDay", "TimeSheetCRUD", FormMethod.Post, new { @class = "ui form form-horizontal", style = "text-align: center;" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("DayVM_TimeSheetID", (object)ts.ID, new { Name = "DayVM.TimeSheetID" })

                                            @Html.HiddenFor(m => m.DayVM.RegularHrs)
                                            <div class="fields">
                                                <div class="field">
                                                    <b>You are about to append a day onto the @(Model.months[ts.Month])/@ts.Year timesheet</b>
                                                </div>
                                            </div>
                                            <div class="fields" style="text-align: center;">
                                                <div class="field"></div>
                                                <div class="field"></div>

                                                <div class="field form-group">
                                                    @Html.DropDownList("DaysID", null, htmlAttributes:
                                                             new { @class = "ui scrollable dropdown form-control", id = "DayVM_On", Name = "DayVM.On" })

                                                </div>
                                                <div class="field form-group">
                                                    <input type="submit" value="Add Day" class="ui button positive" />
                                                </div>
                                                <div class="field"></div>
                                                <div class="field"></div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>






@section scripts
{
    <script src="~/Scripts/main.js"></script>


    <script type="text/javascript">

    </script>

}






