@model BeyondTheTutor.Models.Class

@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align: center;">Rename a Class</h2>


<body class="wou-silver-bg">
    <div class="ui one column center aligned stackable page grid">
        <table class="ui striped four wide column center aligned table table-schedule">
            @using (Html.BeginForm())
            {
            <thead>
                <tr>
                    <th>
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="fluid ui button schedule">Confirm</button>

                            </div>
                            <br />

                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </th>
                </tr>
            </thead>
            }
        </table>
    </div>
</body>



@section scripts
{
    <script src="~/Scripts/main.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
