<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
</head>
<body>
    <div class="ui secondary large pointing menu background-color-white">
        @Html.ActionLink("Beyond the Tutor", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomeIndex" ? "item red active" : "item") })
        @Html.ActionLink("Student Portal", "Index", "Home", new { area = "student" }, htmlAttributes: new { @class = (ViewBag.Current == "StuHomeIndex" ? "item red active" : "item") })
        <div class="right menu">
                    @Html.ActionLink("Calculators", "Calculators", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "Calculators" ? "item red active" : "item") })
            <div class="ui dropdown item">
                Tutoring
                <i class="dropdown icon"></i>
                <div class="menu">
                    @Html.ActionLink("Request Session", "Create", "TutoringAppts", new { area = "student" }, htmlAttributes: new { @class = (ViewBag.Current == "StuTutorAppCreate" ? "item red active" : "item") })
                    @Html.ActionLink("View Requested Tutoring Sessions", "Index", "TutoringAppts", new { area = "student" }, htmlAttributes: new { @class = (ViewBag.Current == "StuTutorAppIndex" ? "item red active" : "item") })
                </div>
            </div>
            @Html.ActionLink("Resources", "Index", "StudentResources", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "StuResIndex" ? "item red active" : "item") })
            @Html.ActionLink("User Guide", "Guide", "Home", new { area = "student" }, htmlAttributes: new { @class = (ViewBag.Current == "StuHomeGuide" ? "item red active" : "item") })
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="item">Sign out</a>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
    <script src="~/Scripts/semantic.min.js"></script>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>