<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
</head>
<body>
    <div class="ui inverted menu">
        <a href="/Student/Home/Index" class="item">Student Portal</a>
        <div class="right menu">
            <a href="/Student/Home/Guide" class="item">User Guide</a>
            <div class="ui simple dropdown item">
                Tutoring Sessions
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/Student/TutoringAppts/Create" class="item">Request Session</a>
                </div>
            </div>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="item">Sign out</a>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/semantic.min.js"></script>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>