@model IEnumerable<BeyondTheTutor.Models.StudentResource>

<body class="wou-grey-bg">
    <div class="ui one column stackable page grid">
        <table class="ui striped selectable celled table resources" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th colspan="4"><h1 class="ui centered header">@ViewBag.currentUser's Resource List</h1></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th><h4>Resource Topic</h4></th>
                    <th><h4>URL for Topic</h4></th>
                    <th><h4>How You Want Link Displayed</h4></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                { 
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Topic)</td>
                        <td>@Html.DisplayFor(modelItem => item.URL)</td>
                        <td>@Html.DisplayFor(modelItem => item.DisplayText)</td>
                        <td style="text-align: center;">
                            <button class="ui small button">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                            </button>
                            <button class="ui small button">
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}

