@model IEnumerable<BeyondTheTutor.Models.TutorSchedule>

<body class="wou-silver-bg">
    <div class="ui one column stackable page grid">
        <div class="ui red message schedule"><i class="close icon"></i>Careful! You may edit or delete schedules below. Deletion cannot be undone.</div>
        <table class="ui striped table ui selectable celled table table-schedule">
            <thead>
                <tr>
                    <th><h4>Tutor Name &amp; Job</h4></th>
                    <th> <h4>Start Date &amp; Time</h4></th>
                    <th>End Date &amp; Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                        <td style="text-align: center;">
                            <button class="ui negative basic button small ui button">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                            </button>
                            <button class="ui negative basic button small ui button">
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}