@model IEnumerable<BeyondTheTutor.Models.SurveyModels.Survey>
@using BeyondTheTutor.DAL;
@{
    BeyondTheTutorContext db = new BeyondTheTutorContext();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th>
            Total Questions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var surveyClass = db.Classes.Find(item.ClassID).Name.ToString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @surveyClass
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions.Count)
                @Html.RouteLink("Add More", new { controller = "Questions", action = "Create", id = item.ID})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
