<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Advanced Athlete Analytics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" id="custom-nav-bar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Coach Resources</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Search Athletes</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Add Athletes</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Add Results</a></li>
                    <li class="nav-item" id="nav-sign-in"><a href="/" class="nav-link">Sign in</a></li>
                    <li><button type="button" class="nav-bar-button">Try it now</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
