@model BeyondTheTutor.Models.TimeSheetModels.Day

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeSheet.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSheet.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularHrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularHrs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
