@using BeyondTheTutor.Models
@model LoginViewModel

<body class="wou-grey-bg">

@if (ViewBag.error != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.error");
    };
    </script>
}

<div class="ui grid FAQ">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui segment">
            <div class="ui equal width form">
                <div class="ui horizontal divider">
                    <h1 class="ui centered header">Welcome Back</h1>
                </div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="two fields">
                        <div class="field">
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="field">
                            <label>Password</label>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label>Remember Me</label>
                        </div>
                    </div>
                    <button class="fluid ui button schedule">Sign into My Account</button><br />
                    <a href="/Account/Register" button class="fluid ui button login">Register for New Account</a>
                }
            </div>
        </div>
    </div>
    <div class="three wide column"></div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}