@model SwimMeetTracker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<body class="other-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <h2 style="margin-top: 10px;">Change Password</h2>
            </div>
        </div>
    </div>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5" id="box-background">
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "old password", @class = "new-box" })
                <br />
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password", @class = "new-box" })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm password", @class = "new-box" })
                <br />
                <input type="submit" value="Change password" class="other-button" />
            </div>
        </div>
    </div>
}
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}